<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="header.isCollapsed" [nzTrigger]="triggerTemplate">
    <app-sider [isCollapsed]="header.isCollapsed"></app-sider>
  </nz-sider> 
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
        <app-header #header></app-header>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
      </nz-breadcrumb>
      <app-content></app-content>
    </nz-content>
    <nz-footer style="text-align: center;">
        <app-footer></app-footer>
      </nz-footer>
  </nz-layout>
</nz-layout>
